{%
  set classes = [
    'tc-image-card',
    'flex',
    'flex-col',
    'gap-4',
    'bg-slate-100',
    'p-4',
    'rounded-md',
    'font-tilt-neon'
  ]
%}

<div {{ attributes.addClass(classes) }}>
    <div class="tc-image-card__image w-full [&_img]:w-full">
        {{ card_image }}
    </div>

    {% block headerSlot %}
    <h2 class="tc-image-card__title">
        {{ card_title }}
    </h2>
    {% endblock headerSlot %}

    <div class="tc-image-card__description">
        {{ card_description }}
    </div>
    
    <div class="tc-image-card__cta w-fit">
        {{ card_cta }}
    </div>
</div>
